footer a{
    color:#2A6877;
    text-decoration: none;
    font-weight: 500;
}

footer a:hover{
    text-decoration: underline;
}

.box a{
    font-size: 36px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}
